<!DOCTYPE html>
<html lang="en" ng-app="Test">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Test</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
  <script src="test0.js"></script>
  <script src="test1.js"></script>
  <link rel="stylesheet" type="text/css" href="style.css">

</head>
<body ng-controller="TestController">
  <nav>
    <input type="text" ng-model="search" placeholder="關鍵字" />
    <span>考試項目：</span>
    <div class="select-wrapper">
      <select ng-options="item.id as item.label for item in selector" ng-model="set"></select>
    </div>
  </nav>
  <div class="q">
    <section ng-repeat="(label, qs) in questions">
      <h2>{{label}}</h2>
      <ul>
        <li ng-repeat="q in (qs | filter:search) track by $index" ng-bind-html="q | highlight:search"></li>
      </ul>
    </section>
  </div>
  <footer>
    贊助不會讓網站更好
    <a href="https://p.opay.tw/x8CAF" target="_blank"><img src="https://payment.opay.tw/Content/themes/WebStyle201404/images/allpay.png" /></a>
  </footer>

  <script>
    angular.module('Test', []);
    angular
      .module('Test')
      .controller('TestController', function($scope, $window) {
        $scope.selector = [
          { id: 'test1', label: '工業大樹鋸' },
          { id: 'test0', label: '小吃店老闆' }
        ];
        $scope.set = 'test1';
        $scope.questions = {};
        $scope.$watch('set', function() {
          $scope.questions = $window[$scope.set];
        });
      })
      .filter('highlight', function($sce) {
        return function(text, phrase) {
          if (phrase) {
            text = text.replace(new RegExp('('+phrase+')', 'gi'), '<span class="hl">$1</span>');
          }
          return $sce.trustAsHtml(text)
        }
      });
  </script>
</body>
</html>