@font-face {
  font-family: "Roboto";
  src: local(Roboto Thin), url("../fonts/roboto/Roboto-Thin.woff2") format("woff2"), url("../fonts/roboto/Roboto-Thin.woff") format("woff");
  font-weight: 100;
}
@font-face {
  font-family: "Roboto";
  src: local(Roboto Light), url("../fonts/roboto/Roboto-Light.woff2") format("woff2"), url("../fonts/roboto/Roboto-Light.woff") format("woff");
  font-weight: 300;
}
@font-face {
  font-family: "Roboto";
  src: local(Roboto Regular), url("../fonts/roboto/Roboto-Regular.woff2") format("woff2"), url("../fonts/roboto/Roboto-Regular.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: local(Roboto Medium), url("../fonts/roboto/Roboto-Medium.woff2") format("woff2"), url("../fonts/roboto/Roboto-Medium.woff") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "Roboto";
  src: local(Roboto Bold), url("../fonts/roboto/Roboto-Bold.woff2") format("woff2"), url("../fonts/roboto/Roboto-Bold.woff") format("woff");
  font-weight: 700;
}

* {
  word-break: break-all;
  box-sizing: border-box;
  color: #444;
}
html {
  margin: 0;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-size: 16px;
}
body {
  margin: 0;
}
nav, footer {
  position: fixed;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  top: 0;
  left: 0;
  padding: 10px;
  width: 100%;
  background: #fafafa;
}
nav {
  border-bottom: 1px solid #ebebeb;
}
nav input {
  flex: 1;
  padding: 10px;
  height: 40px;
  font-size: 16px;
  border: 1px solid #ebebeb;
}
nav span {
  margin-left: 20px;
}
nav select {
  height: 40px;
  width: 200px;
  font-size: 16px;
  border: 1px solid #ebebeb;
  border-radius: 0;
  background: #fff;
}
footer {
  justify-content: center;
  top: auto;
  bottom: 0;
  border-top: 1px solid #ebebeb;
}
footer a {
  display: inline-flex;
  margin-left: 20px;
}
footer a img {
  height: 30px;
}
section + section {
  margin-top: 20px;
}
h2 {
  color: cadetblue;
  margin: 0;
  font-weight: normal;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
  padding: 10px;
}
li:nth-child(even) {
  background: #f2f2f2;
}
.hl {
  background: yellow;
}
.q {
  padding: 65px 0;
}


@media screen and (max-width: 720px) {
  nav select {
    width: 40px;
    border-left: 0;
  }
  nav span {
    display: none;
  }
  .select-wrapper {
    position: relative;;
  }
  .select-wrapper:before {
    content: '▽';
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    box-sizing: border-box;
    background: #fff;
    color: #999;
    border: 1px solid #ebebeb;
    border-left: 0;
    pointer-events: none;
  }
}
